:root{
    --primary-bg: #fff;
    --secondry-bg: #0000ff;
    --primary-text: #696969;
    --secondry-text: #fff;
    --header-bg: #f0ceff;
    --header-text:#000;
    --header1-text:#fff;
    --slider1-text: #333333;
    --slider-text:#36a8eb;
    --slider-button-bg: #16b0cb;
    --slider-button-bg1:#fff;
    --slider-text1:#696e7b;
    --online-bg:#36a8eb;
    --online1-bg:#088edd;
    --online2-bg:#1977cc;
    --online-text:#fff;
    --provide-text:#50a8eb;
    --provide1-text:#333333;
    --provide2-text:#696969;
    --provide3-text:#00a3c8;
    --provide-bg:#16b0cb;
    --provide-button-bg:#000;
    --departemet-bg:#f8f8f8;
    --departemet1-bg:#ffff;
    --departemet2-bg:#00a3c8;
    --departemet-text:#36a8eb;
    --departemet1-text:#333333;

}

