// Varible
$font12: 12px;
$font14: 14px;
$font20: 20px;
$font10: 10px;
$font25: 25px;
$font30: 30px;
$font24: 24px;
$font90: 90px;
$font19: 19px;
$font50: 50px;
$font60: 60px;
$font16: 16px;
$font25: 25px;
$font40: 40px;
$font16: 16px;
$font38: 38px;
// height
$height: 100%;
